.div-main{
	height: 100vh;
	display: flex;
}

/*---------------------------*/

.div-left{
	width: 50%;
	height: 100vh;
}

.div-info{
	text-align: center;
	margin: auto;
	width: 80%;
	padding-top: 5em;
	padding-left: 2em;
}

/*---------------------------*/

.div-right{
	width: 50%;
	height: 100vh;
	display: flex;
}

.div-login{
	padding: 50px;
	padding-top: 150px;
	background-color: white;
	width: 70%;
	margin: auto;
	height: 80vh;
	box-shadow: 0px 2px 47px -10px rgba(189,189,189,1);
	border-radius: 0.3rem;
}

.div-inicio{
	text-align: center; 
	margin-bottom: 20px;
}

.mensaje-invalido{
	position: fixed;
	margin-left: 125.5vh;
	margin-top: 450px;
}

.mensaje-incorrecto{
	position: fixed;
	margin-left: 117.5vh;
	margin-top: 450px;
}

.ayuda{
	text-align: center;
	margin-top: 20vh;
	float: left;
	margin-left: 12vh;
}

.nosotros{
	text-align: center;
	margin-top: 20vh;
	float: right;
	margin-right: 10vh;
}
